%p#notice= notice

%p
  %b Producer:
  = @food.producer.name
%p
  %b Name:
  = @food.name
%p
  %b Upc:
  = @food.upc
%p
  %b Servings:
  = @food.servings
%p
  %b Serving size:
  = @food.serving_size
%p
  %b Unit:
  = @food.unit

- if can? :update, @food
  = link_to 'Edit', edit_food_path(@food)
  \|
= link_to 'Back', foods_path
